.reminder-list-container {
  flex: 1.5;
  max-width: 60%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(218, 89, 89, 0.1);
  padding-left: 10px;
  box-sizing: border-box;
}

.reminder-list-container h2 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button{
  background-color: #0056b3;
  color: white;
}
li {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li p {
  margin: 0;
}

li p strong {
  font-weight: bold;
}

  